<mat-toolbar>
    <span><h3>Información de la sede</h3></span>
  </mat-toolbar>
  <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    
        <div class="row pt-3">
        <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select (selectionChange)= "onSelectDepartamento()" 
          formControlName="departamentoseleccionado" required>
            <mat-option *ngFor="let dep of listdepartamento" [value]="dep">
              {{dep.nombreDepartamento}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
    
      <div class="pl-2" *ngIf="showCiudad">
          <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select  formControlName="ciudad" required >
              <mat-option *ngFor="let ciu of listciudades" [value]="ciu.nombreCiudad">
                {{ciu.nombreCiudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="direccion" appearance="fill">
            <mat-label>Dirección*</mat-label>
            <input matInput formControlName="direccion" onkeyup="javascript:this.value=this.value.toUpperCase();">
          </mat-form-field>
        </div>
      </div>
      
    <div class="button-row text-center">
      <button  class="buttonSecundary mr-3" (click)="onClose()">Cerrar</button>
      <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true, 'buttonPrimary': form.invalid==false }" type="submit" [disabled]="form.invalid">Guardar</button>
    </div>
  </form>