<div class="container">
  <section class="center" *ngIf="rangosFacturacion.length==0">
    <h3>Aún no tienes configurados los prefijos de facturación</h3>
    <p class="body-16 pt-1">Debes de hacer uso de la acción adicionar registro para configurarlas</p>
    <img src='assets\Imagenes\img-prestadores.svg'>
  </section>

<div *ngIf="ShowCards && rangosFacturacion.length>0">
  <div  class="row" >
    <div class="col-lg-6 pt-3" >
      <mat-checkbox class="example-margin" [(ngModel)]="seleccionarTodos">Seleccionar todos</mat-checkbox>
      <button *ngIf="seleccionarTodos" style="position: relative;top: -6px;" mat-icon-button class="m-0" (click)="deletePrefijosFacturacion()">
        <i class="far fa-trash-alt iconos-busqueda "></i>
      </button>
    </div>
    <div class="col-lg-6 text-right ">
      <span *ngIf="UseFilter">
        <mat-form-field class="example-form-field" class="input-busqueda" >
          <mat-label>Prefijo</mat-label>
          <input matInput type="text" [(ngModel)]="textoFiltro">
          <button mat-button *ngIf="textoFiltro" matSuffix mat-icon-button aria-label="Clear" (click)="textoFiltro=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </span>
      <button mat-icon-button (click)="UsarFiltro()">
        <i class="fas fa-filter  iconos-busqueda"></i></button>
      <button mat-icon-button (click)="mostrar()"><i class="fas fa-list iconos-busqueda"></i></button>
    </div>
  </div>
<div  class="container.fluid">
  <div class="row">
  <mat-card class="card" *ngFor="let rango of rangosFacturacion |prefijoFacFilter : textoFiltro | paginate: page_size: page_number">
    <mat-card-header>
    <mat-card-title style="font-size: 24px">
      <div class="row">
        <div class="Prefijo-title">Prefijo</div>
        <div class="Prefijo">{{rango.prefijoFacturacion}}</div>
      </div>
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="mt-2">
        <tr>
          <th rowspan="2"><p class="body-16"><strong>Vigencia</strong></p></th>
          <td><p class="body-16"><strong>Desde: </strong>{{rango.fechaInicial}}</p></td>
        </tr>
        <tr>
          <td><p class="body-16"><strong>Hasta: </strong>{{rango.fechaFinal}}</p></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="editPrefijo(rango)"><i class="fas fa-edit iconos"></i></button>
      <button mat-icon-button (click)="deletePrefijo(rango)"><i class="far fa-trash-alt iconos"></i></button>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>
<mat-paginator [length]="rangosFacturacion.length"
               [pageSize]="page_size"
               [pageSizeOptions]="pageSizeOption"
               (page)="handlePage($event)"
               showFirstLastButtons>
</mat-paginator>
</div>

<div *ngIf="ShowTable && rangosFacturacion.length>0">
  <div  class="row" >
    <div class="col-lg-6 pt-3" >
      <mat-checkbox class="example-margin" [(ngModel)]="seleccionarTodos">Seleccionar todos</mat-checkbox>
      <button *ngIf="seleccionarTodos" style="position: relative;top: -6px;" mat-icon-button class="m-0" (click)="deletePrefijosFacturacion()">
        <i class="far fa-trash-alt iconos-busqueda "></i>
      </button>
    </div>
    <div class="col-lg-6 text-right ">
      <span *ngIf="UseFilter">
        <mat-form-field class="example-form-field" class="input-busqueda" >
          <mat-label>Prefijo</mat-label>
          <input matInput type="text" [(ngModel)]="textoFiltro">
          <button mat-button *ngIf="textoFiltro" matSuffix mat-icon-button aria-label="Clear" (click)="textoFiltro=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </span>
      <button mat-icon-button (click)="UsarFiltro()">
        <i class="fas fa-filter  iconos-busqueda"></i></button>
      <button mat-icon-button (click)="mostrar()"><i class="fas fa-th-list iconos-busqueda"></i></button>
    </div>
  </div>
<div  class="container.fluid">
  <mat-card class="card-large pl-4 pb-0 pt-2" *ngFor="let rango of rangosFacturacion | prefijoFacFilter:textoFiltro | paginate: page_size: page_number">
    <mat-card-content>
      <div class="continer">
        <div class="row">
          <div class="row col-3">
            <div class="col Prefijo-title-show">Prefijo</div>
            <div class="col Prefijo-show">{{rango.prefijoFacturacion}}</div>
          </div>
          <div class="col-7">
            <table>
              <tr>
                <th><p class="body-16"><strong>Vigencias</strong></p></th>
              </tr>
              <tr>
                <td><p class="body-16"><strong>Desde: </strong> {{rango.fechaInicial}}</p></td>
                <td><p class="body-16 ml-2"><strong>Hasta: </strong>{{rango.fechaFinal}}</p></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <button mat-icon-button (click)="editPrefijo(rango)"><i class="fas fa-edit iconos"></i></button>
            <button mat-icon-button (click)="deletePrefijo(rango)"><i class="far fa-trash-alt iconos"></i></button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-paginator [length]="rangosFacturacion.length"
  [pageSize]="page_size"
  [pageSizeOptions]="pageSizeOption"
  (page)="handlePage($event)"
  showFirstLastButtons>
</mat-paginator>
</div>

</div>

<div class="flotante" *ngIf="rangosFacturacion.length < Max_Registros">
  <div class="redes">
    <button mat-fab color="primary" (click)="onCreate()"><span class="material-icons">add</span></button>
  </div>
</div>
