<div class="container">
<section class="center" *ngIf="contactos.length==0">
    <h3>Aún no tienes configurados los contactos</h3>
    <p class="body-16 pt-1">Debes de hacer uso de la acción adicionar registro para configurarlas</p>
    <img src='assets\Imagenes\img-prestadores.svg'>
  </section>

  <div *ngIf="ShowCards && contactos.length>0">
    <div  class="row" >
      <div class="col-lg-6 pt-3" >
        <mat-checkbox class="example-margin" [(ngModel)]="seleccionarTodos">Seleccionar todos</mat-checkbox>
        <button *ngIf="seleccionarTodos" style="position: relative;top: -6px;" mat-icon-button class="m-0" (click)="deleteContactos()">
          <i class="far fa-trash-alt iconos-busqueda "></i>
        </button>
      </div>
      <div class="col-lg-6 text-right ">
        <span *ngIf="UseFilter">
          <mat-form-field class="example-form-field" class="input-busqueda" >
            <mat-label>Ingresar nombre, correo o teléfono</mat-label>
            <input matInput type="text" [(ngModel)]="textoFiltro">
            <button mat-button *ngIf="textoFiltro" matSuffix mat-icon-button aria-label="Clear" (click)="textoFiltro=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </span>
        <button mat-icon-button (click)="UsarFiltro()">
          <i class="fas fa-filter  iconos-busqueda"></i></button>
        <button mat-icon-button (click)="mostrar()"><i class="fas fa-list iconos-busqueda"></i></button>
      </div>
    </div>
  <div  class="container.fluid">
    <div class="row">
    <mat-card class="card" *ngFor="let contacto of contactos |contactoPreFilter : textoFiltro | paginate: page_size: page_number">
      <mat-card-header class="ml-0">
      <mat-card-title>
        <p class="subtitulo-bold-18 ">{{contacto.nombre}}</p>
      </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row pt-2">
          <i class="fas fa-phone-alt"></i>
          <div class="col">
            <i class="fas fa-envelope mr-2 iconos"></i>
            <p class="body-14 pt-1">{{contacto.emailNotificacion}}</p>
          </div>
          <div class="col">
            <i class="fas fa-phone mr-2 iconos"></i>
            <p class="body-14 pt-1">{{contacto.telefono}}</p>
          </div>
        </div>
        <div class="notificaciones pt-3">
        <table>
          <tr>
            <th colspan="3" class="text-left">
              <p class="subtitulo-bold-16">
                <i class="fas fa-bell ml-3 mr-2 iconos"></i> 
                Notificaciones</p>
            </th>
          </tr>
          <tr>
            <td class="opcion">
              <p class="body-14"><strong>Glosas: </strong>{{contacto.notificacionGlosa | sino}}</p>
            </td>
            <td class="opcion">
              <p class="body-14"><strong>Devoluciones: </strong>{{contacto.notificacionDevoluciones | sino}}</p>
            </td>
            <td class="opcion">
              <p class="body-14"><strong>Cartera: </strong>{{contacto.notificacionCartera | sino}}</p>
            </td>
          </tr>
        </table>
        </div>
    
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button (click)="editContacto(contacto)"><i class="fas fa-edit iconos"></i></button>
        <button mat-icon-button (click)="deleteContacto(contacto)"><i class="far fa-trash-alt iconos"></i></button>
      </mat-card-actions>
    </mat-card>
    </div>
    </div>
  <mat-paginator [length]="contactos.length"
                 [pageSize]="page_size"
                 [pageSizeOptions]="pageSizeOption"
                 (page)="handlePage($event)"
                 showFirstLastButtons>
  </mat-paginator>
  </div>

  <div *ngIf="ShowTable && contactos.length>0">
    <div  class="row" >
      <div class="col-lg-6 pt-3" >
        <mat-checkbox class="example-margin" [(ngModel)]="seleccionarTodos">Seleccionar todos</mat-checkbox>
        <button *ngIf="seleccionarTodos" style="position: relative;top: -6px;" mat-icon-button class="m-0" (click)="deleteContactos()">
          <i class="far fa-trash-alt iconos-busqueda "></i>
        </button>
      </div>
      <div class="col-lg-6 text-right ">
        <span *ngIf="UseFilter">
          <mat-form-field class="example-form-field" class="input-busqueda" >
            <mat-label>Ingresar nombre, correo o teléfono</mat-label>
            <input matInput type="text" [(ngModel)]="textoFiltro">
            <button mat-button *ngIf="textoFiltro" matSuffix mat-icon-button aria-label="Clear" (click)="textoFiltro=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </span>
        <button mat-icon-button (click)="UsarFiltro()">
          <i class="fas fa-filter  iconos-busqueda"></i></button>
        <button mat-icon-button (click)="mostrar()"> <i class="fas fa-th-list iconos-busqueda"></i></button>
      </div>
    </div>
  <div  class="container.fluid">
    <mat-card class="card-large" *ngFor="let contacto of contactos |contactoPreFilter:textoFiltro | paginate: page_size: page_number">
      <mat-card-content>
        <div class="continer">
          <div class="row">
            <div class="col-4">
              <p class="subtitulo-bold-18">{{contacto.nombre}}</p>
              <p class="body-14 pt-1"><i class="fas fa-envelope mr-2 iconos"></i>
              {{contacto.emailNotificacion}}</p>
              <p class="body-14"><i class="fas fa-phone mr-2 iconos"></i>
              {{contacto.telefono}}</p>
            </div>
            <div class="col-5">
              <table>
                <tr>
                  <td class="opcion-1"><p class="subtitulo-bold-16"><i class="fas fa-bell ml-3 mr-2 iconos"></i> Notificaciones</p></td>
                  <td class="opcion-3">
                    <p class="body-14"><strong>Glosas: </strong>{{contacto.notificacionGlosa | sino}}</p>
                  </td>
                  <td class="opcion-3">
                    <p class="body-14"><strong>Devoluciones: </strong>{{contacto.notificacionDevoluciones | sino}}</p>
                  </td>
                  <td class="opcion-2">
                    <p class="body-14"><strong>Cartera: </strong>{{contacto.notificacionCartera | sino}}</p>
                  </td>
                  
                </tr>
              </table>
            </div>
            <div class="col-3 text-right">
              <button mat-icon-button (click)="editContacto(contacto)"><i class="fas fa-edit iconos"></i></button>
              <button mat-icon-button (click)="deleteContacto(contacto)"><i class="far fa-trash-alt iconos"></i></button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator [length]="contactos.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOption"
    (page)="handlePage($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
</div>

  <div class="flotante">
    <div class="redes">
      <button mat-fab color="primary" (click)="onCreate()"><span class="material-icons">add</span></button>
    </div>
  </div>