<header id="header"></header>
    <div class="container">
        <h4 class="h4-bold">Configuracion del prestador</h4>
        <div class="row">
            <div class="col-md-3 col-lg-3"  >
                <p class="subtitulo-bold-16">Identificación / {{datosPrestador.tipoDocumentoPrestador}}</p> 
                <p class="body-16">{{datosPrestador.numeroDocumentoPrestador}}</p>
            </div>
            <div class="col-md-2 col-lg-2"  >
                <p class="subtitulo-bold-16">Razón social</p> 
                <p class="body-16" >{{datosPrestador.razonSocial}}</p>
            </div>
            <div class="col-md-7 col-lg-7 background-legal py-2" >
            <p class="subtitulo-bold-16">Representante legal</p> 
            <mat-icon svgIcon="user" class="iconos mr-2" ></mat-icon>
            <mat-form-field class="p-0" appearance="outline">                
                <input matInput disabled placeholder="Representante legal" value={{infoPrestador.representanteLegal}}>
            </mat-form-field>
            <i class="fas fa-envelope ml-3 mr-2 iconos"></i>
            <mat-form-field class="p-0" appearance="outline">
                <input matInput disabled placeholder="Corre@ejemplo.com" value={{infoPrestador.emailReperesentantelegal}}>
            </mat-form-field>
            <button mat-icon-button (click)="onCreate()" class="ml-2" >
                <!-- <mat-icon svgIcon="edit" class="iconos" ></mat-icon> -->
                <i class="fas fa-edit iconos pb-2"></i>
            </button>
            </div>
        </div>
  </div>
<div class="container">
    <nav mat-tab-nav-bar mat-align-tabs="center" class="background-legal mt-3 pt-2" >
      <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <div>
          <table>
              <tr>
                  <td><mat-icon class="iconos-tabs" svgIcon={{link.icon}}></mat-icon></td>    
              </tr>
              <tr>
                <td class="body-14 pb-2">{{link.label}}</td>
              </tr>
          </table>
        
        
      </div>
    </a>
    </nav>
</div>
    <router-outlet></router-outlet>