<mat-dialog-content>
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      style="display: block; padding-right: 17px;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body pt-3">
                <i class="fas fa-exclamation-triangle iconos"></i>
                <div class="modal-subtitle">
                    <h4 class="h4-bold">{{confirmMessage}}</h4>
                </div>
              </div>
              <div class="m-2 text-center">
                    <button  class="buttonSecundary mr-3" (click)="dialogRef.close(false)">Cerrar</button>
                    <button  class="buttonPrimary" (click)="dialogRef.close(true)">Eliminar</button>
              </div>
          </div>
      </div>
  </div>
</mat-dialog-content>
