<mat-toolbar>
    <span><h3>Código de habilitación</h3></span>
</mat-toolbar>
<span>Ingrese la información del servicio habilitado como prestador de salud.
    Tenga en cuanta que esta información es importante para la generación de los RIPS.
</span>
  <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="75px">
      <mat-grid-tile *ngIf="modificarCodigo">
        <div>
          <mat-form-field>
            <mat-label>Código del servicio *</mat-label>
            <input matInput formControlName="codigo">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!modificarCodigo">
        <div>
          <mat-form-field>
            <mat-label>Código del servicio *</mat-label>
            <input matInput readonly formControlName="codigo">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <mat-form-field>
            <mat-label>Descrición del servicio *</mat-label>
            <input matInput formControlName="descripcion">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-row">
      <button mat-raised-button color="warn" (click)="onClose()">Cerrar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
    </div>
  </form>