<div class="container">
  <mat-toolbar>
      <span><h3>Código de habilitación</h3></span>
  </mat-toolbar>
  <div class="row pt-4">
    <table>
      <tr>
        <td><i class="far fa-lightbulb iconos"></i></td>
        <td class="pl-2"><p class="body-14">Ingrese la información del servicio habilitado como prestador de salud.
          Tenga en cuanta que esta información es importante para la generación de los RIPS.
      </p></td>
    </tr>
    </table>
  </div>
    <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
      <div class="row pt-3">
          <div class="col" *ngIf="modificarCodigo">
            <mat-form-field appearance="fill">
              <mat-label>Código del servicio *</mat-label>
              <input matInput  maxlength="20" formControlName="codigo" appUpperCase>
              <mat-hint align="end">{{codigo.value.length}} / 20</mat-hint>
              <mat-error *ngIf="codigo.hasError('pattern') && !codigo.hasError('required')">
                Ingrese solo números
              </mat-error>
              <mat-error *ngIf="codigo.hasError('maxlength') && !codigo.hasError('required')">
                Excede el número de caracteres
              </mat-error>
              <mat-error *ngIf="codigo.hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="!modificarCodigo">
            <mat-form-field>
              <mat-label>Código del servicio *</mat-label>
              <input matInput readonly formControlName="codigo">
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field class="descripcion" appearance="fill">
              <mat-label>Descrición del servicio *</mat-label>
              <input  matInput formControlName="descripcion" appUpperCase>
              <mat-hint align="end">{{descripcion.value.length}} / 50</mat-hint>
              <mat-error *ngIf="descripcion.hasError('maxlength')">
                Excede el número de caracteres (50)
              </mat-error>
              <mat-error *ngIf="descripcion.hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="button-row text-center">
        <button  class="buttonSecundary mr-3" (click)="onClose()">Cerrar</button>
        <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true, 'buttonPrimary': form.invalid==false }" type="submit" [disabled]="form.invalid">Guardar</button>
      </div>
    </form>
  </div>