<mat-toolbar>
    <h3>Datos de contacto</h3>
</mat-toolbar>

  <form [formGroup]="form" class="normal-form pt-3" (ngSubmit)="onSubmit()">
    <mat-grid-list  cols="1" rowHeight="75px">
      <mat-grid-tile>
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Ingresa nombre completo *</mat-label>
                <input matInput formControlName="nombre" maxlength="80" appUpperCase>
                <mat-hint align="end">{{nombre.value.length}} / 80</mat-hint>
                <mat-error *ngIf="nombre.hasError('maxlength') && !nombre.hasError('required')">
                    Supera el maximo de caracteres (80)
                </mat-error>
                <mat-error *ngIf="nombre.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            </div>
            <div class="col-lg-4">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Ingresa correo electrónico *</mat-label>
                <input matInput  formControlName="emailNotificacion"
                appUpperCase appBlockCopyPaste>
                <mat-error *ngIf="emailNotificacion.hasError('maxlength') && !emailNotificacion.hasError('required')">
                    Supera el maximo de caracteres (80)
                </mat-error>
                <mat-error *ngIf="emailNotificacion.hasError('pattern') && !emailNotificacion.hasError('required') && !emailNotificacion.hasError('maxlength')">
                     Ingrese un correo valido
                </mat-error>
                <mat-error *ngIf="emailNotificacion.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            </div>

            <div class="col-lg-4">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Ingresa confirmación de correo electrónico *</mat-label>
                <input matInput  formControlName="correConfirmacion"
                 appBlockCopyPaste appUpperCase>
                <mat-error *ngIf="correConfirmacion.hasError('matchOther') && !correConfirmacion.hasError('required')">
                    Correos no son iguales
                  </mat-error>
                  <mat-error *ngIf="correConfirmacion.hasError('required')">
                    Este campo es <strong>requerido</strong>
                  </mat-error>
            </mat-form-field>
        </div>
        </div>    
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                <mat-form-field class="input" appearance="fill">
                    <mat-label>Teléfono / Celular *</mat-label>
                    <input matInput formControlName="telefono" maxlength="10">
                    <mat-hint align="end">{{telefono.value.length}} / 10</mat-hint>
                    <mat-error *ngIf="telefono.hasError('pattern') && !telefono.hasError('required')">
                        Debes ingresar solo números
                     </mat-error>
                    <mat-error *ngIf="telefono.hasError('maxlength') && !telefono.hasError('required') && !telefono.hasError('pattern')">
                       Supera el maximo de caracteres (10)
                    </mat-error>
                    <mat-error *ngIf="telefono.hasError('minlength') && !telefono.hasError('required') && !telefono.hasError('pattern')">
                        No posee el minimo de caracteres (7)
                    </mat-error>
                    <mat-error *ngIf="telefono.hasError('required')">
                     Este campo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <span>De preferencia indicar un número de celular, como línea de contacto</span>
                </div>
            </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="container-fluid background-legal mt-4">
        <div>
            <p><i class="far fa-lightbulb iconos"></i>
              Para este contacto, puedes configurar las notificaciones que deseas reciba esta persona
               cuando se realice algún proceso de <Strong>Glosas, Devoluciones y/o cartera.</Strong></p>
          </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-checkbox class="example-margin" [checked]="notificacionGlosa" (change)="notiGlosa($event)">Glosas</mat-checkbox>
            </div>
            <div class="col-lg-4">
                <mat-checkbox class="example-margin" [checked]="notificacionDevoluciones" (change)="notiDevoluciones($event)">Devoluciones</mat-checkbox>
            </div>
            <div class="col-lg-4">
                <mat-checkbox class="example-margin" [checked]="notificacionCartera" (change)="notiCartera($event)" >Cartera</mat-checkbox>
            </div>
        </div>
    </div>
    <mat-error class="text-center" *ngIf="!Checked">
        Debes de seleccionar mínimo una notificación.
       </mat-error>
    <div class="button-row text-center pt-3">
        <button  class="buttonSecundary mr-3" (click)="cerrar()">Cerrar</button>
        <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true || Checked==false, 'buttonPrimary': form.invalid==false && Checked==true }" type="submit" [disabled]="form.invalid==true || Checked==false">Guardar</button>
    </div>
  </form>
