<mat-toolbar>
    <span><h3>Información de la sede</h3></span>
  </mat-toolbar>
  <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="75px">
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Nombre *</mat-label>
            <input matInput placeholder="Juan Felipe Rodas Restrepo" formControlName="representanteLegal"
            [errorStateMatcher]="matcher">
            <mat-error *ngIf="representanteLegal.hasError('required')">
                Este campo es <strong>requerido</strong>
              </mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Correo electronico *</mat-label>
            <input matInput placeholder="juanrestrepo@ips.com.co" formControlName="correoElectronico">
            <mat-error *ngIf="correoElectronico.hasError('email') && !correoElectronico.hasError('required')">
                Por favir ingrese un correo valido
              </mat-error>
              <mat-error *ngIf="correoElectronico.hasError('required')">
                Este campo es <strong>requerido</strong>
              </mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Confirmar Correo electronico *</mat-label>
            <input matInput placeholder="juanrestrepo@ips.com.co" formControlName="correConfirmacion"
            [errorStateMatcher]="matcher">
              <mat-error *ngIf="form.hasError('NoMacth')">
                Correos no son iguales
            </mat-error>  
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<mat-dialog-actions align="end"> 
      <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
  </form>
