<mat-toolbar>
    <h3>Representante legal</h3>
  </mat-toolbar>
  <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field class="descripcion pt-3" appearance="fill">
            <mat-label>Nombre *</mat-label>
            <input matInput placeholder="Juan Felipe Rodas Restrepo" maxlength="80" #representante formControlName="representanteLegal"
            appUpperCase >
            <mat-hint align="end">{{representante.value.length}} / 80</mat-hint>
            <mat-error *ngIf="representanteLegal.hasError('required')">
                Este campo es <strong>requerido</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="descripcion" appearance="fill">
            <mat-label>Correo electronico *</mat-label>
            <input matInput placeholder="juanrestrepo@ips.com.co"  maxlength="80" #correo formControlName="correoElectronico" appBlockCopyPaste appUpperCase>
            <mat-hint align="end">{{correo.value.length}} / 80</mat-hint>
            <mat-error *ngIf="correoElectronico.hasError('maxlength') && !correoElectronico.hasError('required')">
                Supera el maximo de caracteres (80)
            </mat-error>
            <mat-error *ngIf="correoElectronico.hasError('pattern') && !correoElectronico.hasError('required')">
              Email no es valido
            </mat-error>
              <mat-error *ngIf="correoElectronico.hasError('required')">
                Este campo es <strong>requerido</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div class="row"> 
        <mat-form-field class="descripcion" appearance="fill">
            <mat-label>Confirmar Correo electronico *</mat-label>
            <input matInput placeholder="juanrestrepo@ips.com.co"  maxlength="80" #concorreo formControlName="correConfirmacion" 
            appBlockCopyPaste appUpperCase> 
            <mat-hint align="end">{{concorreo.value.length}} / 80</mat-hint>
            <mat-error *ngIf="correConfirmacion.hasError('matchOther')">
              Correos no son iguales
            </mat-error>
            <mat-error *ngIf="correConfirmacion.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>
<div class="button-row text-center pt-3">
  <button  class="buttonSecundary mr-3" (click)="onClose()">Cerrar</button>
  <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true, 'buttonPrimary': form.invalid==false }" type="submit" [disabled]="form.invalid">Guardar</button>
</div>
  </form>
