<header id="header"></header>
    <div class="container">
    <ngx-spinner [fullScreen]="false" bdColor="rgba(165,162,165,0.8)" size="large" color="#fff" type="ball-pulse">
        <p style="font-size: 20px; position: relative; color: white">Procesando...</p>
    </ngx-spinner>
    <h4 class="h4-bold">Devoluciones</h4>
    <form [formGroup]="form" class="normal-form pt-1" (ngSubmit)="onSubmit()">
        <div class="container boxShadow">
            <div class="row ">
                <div class="col pt-2">
                    <mat-form-field  class="input-md" appearance="fill">
                        <mat-label>Fecha de radicacion desde</mat-label>
                        <input matInput formControlName="fechaInicial" [matDatepicker]="pickerInicial">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerInicial></mat-datepicker>
                        <mat-error *ngIf="fechaInicial.hasError('inva')">
                            Fecha Inicial es mayor a fecha final
                        </mat-error>
                        <mat-error *ngIf="fechaInicial.hasError('dif')">
                            Se exede el rango de consulta (max 3 meses)  
                        </mat-error> 
                        <mat-error *ngIf="fechaInicial.hasError('required')">
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  class="input-md" appearance="fill">
                        <mat-label>Fecha de radicacion hasta</mat-label>
                        <input matInput formControlName="fechaFinal" [matDatepicker]="pickerFinal">
                        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerFinal></mat-datepicker>
                        <mat-error *ngIf="fechaFinal.hasError('inva')">
                            Fecha Inicial es mayor a fecha final
                        </mat-error>
                        <mat-error *ngIf="fechaFinal.hasError('dif')">
                            Se exede el rango de consulta (max 3 meses)ftgr
                        </mat-error>
                        <mat-error *ngIf="fechaFinal.hasError('required')">
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col pt-2">
                    <mat-form-field class="input-md" appearance="fill">
                        <mat-label>Prefijo de factura</mat-label>
                        <input matInput  maxlength="20" #prefijoFactura formControlName="prefijoFactura" appUpperCase>
                        <mat-hint align="end">{{prefijoFactura.value.length}} / 20</mat-hint>
                        <mat-error *ngIf="preFactura.hasError('pattern')">
                            Contiene caracteres no validos
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-md" appearance="fill">
                        <mat-label># de factura</mat-label>
                        <input matInput  maxlength="20" #numeroFactura formControlName="numeroFactura">
                        <mat-hint align="end">{{numeroFactura.value.length}} / 20</mat-hint>
                        <mat-error *ngIf="numFactura.hasError('pattern')">
                            Solo debe tener números
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col m-auto text-center pt-2"  >
                    <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true, 'buttonPrimary': form.invalid==false }" type="submit" [disabled]="form.invalid">Consultar</button>
                </div>
                <div class="col m-auto" >
                    <button type="button" class="textoboton text-center" (click)="limpiar()">Limpiar</button>
                </div>
            </div>   
            <div class="row ">
                
                <p class="body-16 pt-1 pl-2 text-center">
                    <i class="pl-2 fas fa-exclamation-triangle"></i>
                    Ten presente que puedes consultar un rango máximo de 3 meses
                  </p>
            </div>  
        </div>
    </form>
    <section class="center boxShadow pt-2 mt-3" *ngIf="listaDevoluciones.length==0">
        <div class="info">
            <p class="body-16 mb-0 text-center">
                Hemos habilitado para tí esta consulta, donde puedes encontrar la información
              </p>
              <p class="body-16  mb-0 text-center">
                de las devoluciones que actualmente tienes con nosotros.
              </p>
          </div>
        <img class="image" src='..\assets\Imagenes\png-search.png'>
    </section>

    <div class="container boxShadow pt-2 mt-3" *ngIf="listaDevoluciones.length>0">
        <h5 class="h4-bold">Detalle de devoluciones</h5>
         <p>{{listaDevoluciones.length}} registro(s) recuperado(s)</p>
        <div class="row">
            <div class="col"> 
                <button (click)="expandir()" class="ml-2 textobotonsinlinea text-center" *ngIf="!checked">
                    <i class="far fa-window-maximize iconos"></i>Expandir todas
                </button>
                <button (click)="contraer()" class="ml-2 textobotonsinlinea text-center" *ngIf="checked">
                    <i class="far fa-window-minimize iconos"></i>Contraer todas
                </button>
            </div>
            <div class="col"> <button (click)="filtroTodos()" class="ml-2 textoboton text-center">Todas ({{listaDevoluciones.length}})</button></div>
            <div class="col"> <button (click)="filtroAldia()" class="ml-2 textoboton text-center"><i class="far fa-check iconos-Check"></i>Al día ({{cantidadaldia}})</button></div>
            <div class="col"> <button (click)="filtroProximo()" class="ml-2 textoboton text-center"><i class="far fa-exclamation-circle iconos-alerta"></i>Próximas a vencerse ({{cantidadProxima}})</button></div>
            <div class="col"> <button (click)="filtroVencido()" class="ml-2 textoboton text-center"><i class="far fa-times iconos-vencido"></i>Vencidas ({{cantidadvencida}})</button></div>
            <div class="col"> <button (click)="exportarTodosCSV()"class="ml-2 textoboton text-center"><mat-icon class="iconos" svgIcon="exportCSV" ></mat-icon>Exportar registros</button></div>
        </div>

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let devolucion of mostrarDevoluciones | paginate: page_size: page_number">
                <mat-expansion-panel-header>
                <div class="row">
                    <div class="col"><p class="body-16 pt-3"><strong>Fecha de radicacion</strong></p>
                      <p class="body-16">{{devolucion.fechaRadicacion}}</p></div>
                    <div class="col"><p class="body-16 pt-3"><strong># de factura</strong></p>
                      <p class="body-16">{{devolucion.prefijoFactura}} {{devolucion.numeroFactura}}</p></div>
                    <div class="col"><p class="body-16 pt-3"><strong>Valor factura</strong></p>
                      <p class="body-16">{{devolucion.valorFactura |currency: 'USD' : 'symbol' : '1.0-0'}} </p></div>
                    <div class="col"><p class="body-16 pt-3"><strong>Fecha de notificación</strong></p>
                      <p class="body-16">{{devolucion.fechaDevolucion}}</p></div>
                    <div class="col"><p class="body-16 pt-3"><strong>Estado</strong></p>
                        <i *ngIf="devolucion.estado==aldia" class="far fa-check iconos-Check-lg"></i>
                        <i *ngIf="devolucion.estado==proxima" class="far fa-exclamation-circle iconos-alerta-lg"></i>
                        <i *ngIf="devolucion.estado==vencida" class="far fa-times iconos-vencido-lg"></i>
                    </div>
                </div>
                </mat-expansion-panel-header>
                <div class="row pt-3">
                    <div class="col-10">
                        <p class="body-16  mb-0" ><strong>Detalle de la devolucion</strong></p>
                        <p>Plazo de respuesta: <strong>20 días, </strong>hasta el: {{devolucion.fechaTentativaRespuesta}}</p>
                    </div>
                    <div class="col">
                        <button mat-icon-button  class="ml-2" (click)="exportarCSV(devolucion)" >
                            <mat-icon class="iconos" svgIcon="exportCSV" ></mat-icon>
                        </button>
                        <button mat-icon-button class="ml-2" (click)="exportarPDF(devolucion)" >
                            <mat-icon svgIcon="exportPDF" ></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="body-16  mb-0" ><strong>Causa de rechazo</strong></p>
                        <p>{{devolucion.causaRechazo}}</p>
                    </div>
                </div>

                <div class="container observacion">
                    <p class="body-16  mb-0" >
                        <strong>Observaciones</strong>
                    </p>
                    <p>{{devolucion.observacion}}</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>


    

          <mat-paginator [length]="mostrarDevoluciones.length"
          [pageSize]="page_size"
          [pageSizeOptions]="pageSizeOption"
          (page)="handlePage($event)"
          showFirstLastButtons>
        </mat-paginator>
    </div>

    



