<header id="header"></header>
    <div class="container">
    <ngx-spinner [fullScreen]="false" bdColor="rgba(165,162,165,0.8)" size="large" color="#fff" type="ball-pulse">
        <p style="font-size: 20px; position: relative; color: white">Procesando...</p>
    </ngx-spinner>
    <h4 class="h4-bold">Devoluciones</h4>
    <form [formGroup]="form" class="normal-form pt-1" (ngSubmit)="onSubmit()">
        <div class="container boxShadow">
            <div class="row ">
                <div class="col pt-2">
                    <mat-form-field  class="input-md" appearance="fill">
                        <mat-label>Fecha de radicacion desde *</mat-label>
                        <input matInput formControlName="fechaInicial" [matDatepicker]="pickerInicial">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerInicial></mat-datepicker>
                        <mat-error *ngIf="fechaInicial.hasError('inva')">
                            Fecha Inicial es mayor a fecha final
                        </mat-error>
                        <mat-error *ngIf="fechaInicial.hasError('dif')">
                            Se exede el rango de consulta (max 3 meses)  
                        </mat-error> 
                        <mat-error *ngIf="fechaInicial.hasError('required')">
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field  class="input-md" appearance="fill">
                        <mat-label>Fecha de radicacion hasta *</mat-label>
                        <input matInput formControlName="fechaFinal" [matDatepicker]="pickerFinal">
                        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #pickerFinal></mat-datepicker>
                        <mat-error *ngIf="fechaFinal.hasError('inva')">
                            Fecha Inicial es mayor a fecha final
                        </mat-error>
                        <mat-error *ngIf="fechaFinal.hasError('dif')">
                            Se exede el rango de consulta (max 3 meses)ftgr
                        </mat-error>
                        <mat-error *ngIf="fechaFinal.hasError('required')">
                            Campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col pt-2">
                    <mat-form-field class="input-md" appearance="fill">
                        <mat-label>Prefijo de factura</mat-label>
                        <input matInput  maxlength="20" #prefijoFactura formControlName="prefijoFactura">
                        <mat-hint align="end">{{prefijoFactura.value.length}} / 20</mat-hint>
                        <mat-error *ngIf="preFactura.hasError('pattern')">
                            Contiene caracteres no validos
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-md" appearance="fill">
                        <mat-label># de factura</mat-label>
                        <input matInput  maxlength="20" #numeroFactura formControlName="numeroFactura">
                        <mat-hint align="end">{{numeroFactura.value.length}} / 20</mat-hint>
                        <mat-error *ngIf="numFactura.hasError('pattern')">
                            Solo debe tener números
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col m-auto text-center pt-2"  >
                    <button  [ngClass]="{'buttonDisabledPrimary': form.invalid==true, 'buttonPrimary': form.invalid==false }" type="submit" [disabled]="form.invalid">Consultar</button>
                </div>
                <div class="col m-auto" >
                    <button type="button" class="textoboton text-center" (click)="limpiar()">Limpiar</button>
                </div>
            </div>   
            <div class="row ">
                
                <p class="body-16 pt-1 pl-2 text-center">
                    <i class="pl-2 fas fa-exclamation-triangle"></i>
                    Ten presente que puedes consultar un rango máximo de 3 meses
                  </p>
            </div>  
        </div>
    </form>
    <section class="center boxShadow pt-2 mt-3">
        <div class="info">
            <p class="body-16 mb-0 text-center">
                Hemos habilitado para ti esta consulta, donde puedes encontrar la
              </p>
              <p class="body-16  mb-0 text-center">
                informacion de las facturas radicadas en EPS SURA.
              </p>
          </div>
        <img class="image" src='..\assets\Imagenes\png-search.png'>
    </section>

    



