@import "../../../../assets/scss/variables";

table {
  border-collapse: collapse;
  background-color: #f7f7f7;
  width: 100%;
}

mat-expansion-panel{
  margin: 10px !important;
}

.mat-expansion-panel-header{
  margin: 10px !important;
  
}

.observacion {
  background-color: #F2F2F2 !important; 
  margin: auto !important;
  padding: inherit !important;
  border-bottom-right-radius: 20px !important;
}

.cosa{
  margin: auto !important;
  padding: inherit !important;
}

th {
  text-align: center;
  padding: 14px;
}

td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

.input-sm{
  width: 150px;
}

.input-md{
  width: 250px;
}

.image{
  max-width: 450px;
  margin:0 auto;
  display: block;
}

.boxShadow{
-webkit-box-shadow: 0px 0px 16px -5px #000000;
box-shadow: 0px 0px 16px -5px #000000;
border-radius: 10px;
}


.textoboton{
  font-family: $unnamed-font-family-barlow;
  font-style: $unnamed-font-style-normal;
  font-weight: $unnamed-font-weight-normal;
  font-size: $unnamed-font-size-16;
  line-height: $unnamed-line-spacing-18;
  letter-spacing: $unnamed-character-spacing-0;
  color: $variante-gris-oscuro;
  text-decoration: underline;
  border:none;
  background-color: transparent;
  outline: none !important; 
}


.banner{
    border-radius: 5%;
    background: #f7f7f7;
}

.background-legal{
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 10px;
}



.iconos{
  font-size: 20px;
  color: $primario;
}

.iconos-Check-lg{
  display: inline-block;
    font-size: 35px;
    color:$correcto;
    margin-right: 4px;
}

.iconos-alerta-lg{
  display: inline-block;
  font-size: 35px;
  color:$alerta;
  margin-right: 4px;
}

.iconos-vencido-lg{
  display: inline-block;
  font-size: 35px;
  color:$error;
  margin-right: 4px;
}

.iconos-Check{
  display: inline-block;
    font-size: 25px;
    color:$correcto;
    margin-right: 4px;
}

.iconos-alerta{
  display: inline-block;
  font-size: 25px;
  color:$alerta;
  margin-right: 4px;
}

.iconos-vencido{
  display: inline-block;
  font-size: 25px;
  color:$error;
  margin-right: 4px;
}


.iconos-tabs{
  width: 35px !important;
  height: 35px !important;
}

.icono-sm{
  color: $primario;
  font-size: 10px;
}

.buttonDisabledPrimary{
    @include buttonDisabledPrimary;
}
.buttonPrimary{
    @include buttonPrimary;
}
.buttonSecundary{
    @include buttonSecundary;
}

// Lista desplegable select

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {

    color: $error;
  
  }
  
  
  
  .mat-option {
  
    font-family: $unnamed-font-family-barlow;
  
    font-style: $unnamed-font-style-normal;
  
    font-weight: $unnamed-font-weight-normal;
  
    font-size: $unnamed-font-size-14;
  
    line-height: $unnamed-line-spacing-16;
  
    letter-spacing: $unnamed-character-spacing-0;
  
    color: $variante-gris-oscuro;
  
  }
  
  
  
  .mat-option:hover:not(.mat-option-disabled),
  
  .mat-option:focus:not(.mat-option-disabled) {
  
    background: #0033A01A 0% 0% no-repeat padding-box;
  
  
  
  }
  
  
  
  .mat-option.mat-active {
  
    background: $secundario-blanco;
  
  
  
  }
  
  
  
  .mat-select-value-text {
  
    color: $variante-gris-oscuro !important;
  
  }
  
  
  
  
  .mat-step-header .mat-step-icon-selected,
  
  .mat-step-header .mat-step-icon-state-done,
  
  .mat-step-header .mat-step-icon-state-edit {
  
    background-color: $primario !important;
  
  }

  //input outline color

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {

    color: $variante-gris-claro1;
  
    opacity: 1 !important;
  
    box-shadow: 0px 2px 20px $variante-gris-claro1 !important;
  
  }
  
  
  
  //mat-input focused color
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  
    color: $primario !important;
  
    //   box-shadow: none !important;
  
  }
  
  
  
  // mat-input error outline color
  
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  
    color: $primario !important;
  
    opacity: 0.8 !important;
  
  }
  
  
  
  // mat-input carent color
  
  .mat-input-element {
  
    caret-color: $primario !important;
  
  }
  
  
  
  // mat-input error carent color
  
  .mat-form-field-invalid .mat-input-element,
  
  .mat-warn .mat-input-element {
  
    caret-color: $primario !important;
  
  }
  
  
  
  // mat-label normal state style
  
  ::ng-deep .mat-form-field-label {
  
    color: $variante-gris-oscuro;
  
    font-family: $unnamed-font-family-barlow;
  
    // color: $mainColor!important;
  
  }
  
  
  
  // mat-label focused style
  
  .mat-form-field.mat-focused .mat-form-field-label {
  
    color: $primario !important;
  
  }
  
  
  
  // mat-label error style
  
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  
    color: $error !important;
  
    box-shadow: 0px 2px 20px $error !important;
  
  }
  
  
  
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  
  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  
    color: $primario !important;
  
  }

  //inpout checkbox 
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
background-color:  $primario !important;
}